
#Section1 {
    background-image: url(/Clone-Project/images/Background1.svg)
}

#Section2 {
    background-image: url(/Clone-Project/images/Background2.svg)
}

#Section3 {
    background-image: url(/Clone-Project/images/Background3.svg)
}

