{{item.title}}
<h2>Edit this Review</h2>


<form action="/gallery/{{item.id}}/reviews/{{ri}}/update" method="post">

    <div>{{theUser.username}}</div>
    <input for="title" name="title">Title</input><br>
    <label for="content"> What do you have to say?</label>
    <textarea id="content" name="content" cols="30" rows="10"></textarea>
    <button type="submit">Submit</button>
</form>