<!DOCTYPE html>
<html>
  <head>
    <title>Miss Yoko Beading</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
            integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" 
            crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
   


  </head>
  <body>


      <nav class="navigation">    
  
            <li><a href="/">Home</a> </li>
            
            <li>   
                <div class="dropdown">
                        <a href="/gallery" class="navbutton btn btn-secondary"
                        id="dropdownMenuButton">
                        Gallery</a>
                         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/gallery">Earings</a>
                            <a class="dropdown-item" href="/gallery">Necklace</a>
                            <a class="dropdown-item" href="/gallery">Bracelets</a>
                            <a class="dropdown-item" href="/gallery">Rings</a>
                        </div>          
                </div>
            </li> 
            
           

            <li><a href="/blog">Stories</a></li>
            <li><a href="/"> <img class ="logo" src="https://res.cloudinary.com/miss-yoko-beading/image/upload/v1532067003/Screen_Shot_2018-07-20_at_2.09.31_AM.png" alt="Miss Yoko Beading"></a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/shipping">Shipping info</a></li>

{{!-- neeed to add function to show one or another --}}
              <li>{{#unless theUser}}<a href="/login">Log in</a>{{/unless}}</li>
              <li>{{#if theUser}} <div>Hello, {{theUser.username}}</div>{{/if}}</li>
              <li>{{#if theUser}} <div><a href="/logout">Logout</a></div>{{/if}}</li>

      </nav>



<div class="space"></div>

  <div class="bodyimage">{{{body}}}</div>


<footer>
    <div class="footer-top">
            <ul>
                <li>Miss Yoko Beading</li>
                <li><a href="/about-us">About us</a></li>
                <li>Contact us</li>
            </ul>
                    
            <ul>
                <li>MORE INFO</li>
                <li><a href="/shipping">Shipping</a></li>
                <li><a href="/blog">Stories</a></li>
                <li>Power of Gemstones</li>
            </ul>
                    
            <ul>
                <li>FOLLOW US</li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Facebook</a></li>
                <li><a href="https://www.instagram.com/missyokobeading/">Instagram</a></li>
            </ul>

            <ul>
                <li>OUR LOCATION</li>
                <li>1500 Euclid Ave<br>Miami Beach, Florida <br>33139 USA</li>
            </ul>
    

    {{!-- </div>
    
    <div class="footer-bottom">
    <div class="footer-bottom-left">
        <img src="" alt="">
    </div>


    <div class="address">
      <p></p>
      <p></p>
    </div>
    </div> --}}

</footer>


    
    <script src="https://use.fontawesome.com/1fb0eb3889.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src='/javascripts/script.js'></script>
  </body>
</html>
