<!DOCTYPE html>
<html>
  <head>
    <title>Miss Yoko Beading</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
            integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" 
            crossorigin="anonymous">
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='../stylesheets/style.css' />

  </head>
  <body>





      <nav class="navigation">    
  
          <img class ="logo" src="images/logo2.png" alt="Miss Yoko Beading">
        
              
            <li><a href="/">Home</a> </li>
            
            <li>   
                <div class="dropdown">
                        <button class="navbutton btn btn-secondary dropdown-toggle" type="button" 
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gallery</button>
                         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/gallery/earings">Earings</a>
                            <a class="dropdown-item" href="/gallery/necklace">Necklace</a>
                            <a class="dropdown-item" href="/gallery/bracelets">Bracelets</a>
                            <a class="dropdown-item" href="/gallery/rings">Rings</a>
                        </div>          
                </div>
            </li> 
                
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/shipping">Shipping info</a></li>

{{!-- neeed to add function to show one or another --}}
              <li>{{#unless theUser}}<a href="/login">Log in</a>{{/unless}}</li>
              <li>{{#if theUser}} <div>Hello, {{theUser.username}}</div>{{/if}}</li>
              <li>{{#if theUser}} <div><a href="/logout">Logout</a></div>{{/if}}</li>

      </nav>

<div class="space"></div>

    {{{body}}}


<footer>
    <div class="footer-top">
            <ul>
                <li>COMPANY</li>
                <li>Team</li>
                <li>Work with us</li>
                <li>Blog</li>
                <li>Press</li>
            </ul>
                    
            <ul>
                <li>MORE INFO</li>
                <li>FAQ</li>
                <li>Contact</li>
                <li>Hire</li>
                <li>Privacy Policy</li>
            </ul>
                    
            <ul>
                <li>FOLLOW US</li>
                <li>Twitter</li>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>GitHub</li>
                <li>Youtube</li>
            </ul>
            
            <ul>
                <li>OUR LOCATIONS</li>
                <li>Amsterdam</li>
                <li>Barcelona</li>
                <li>Berlin</li>
                <li>Madrid</li>
                <li>Mexico City</li>
                <li>Miami</li>
                <li>Paris</li>
                <li>São Paulo</li>
            </ul>
    

    </div>
    
    <div class="footer-bottom">
    <div class="footer-bottom-left">
        <img src="" alt="">
    </div>


    <div class="address">
      <p></p>
      <p></p>
    </div>
    </div>

</footer>


    <script src='/javascripts/script.js'></script>
    <script src="https://use.fontawesome.com/1fb0eb3889.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>
