


<div class="indexpage">
<div class="pad">
<div class="indexcont container">
<h1>Welcome back</h1>
<form id="form" action="/login" method="post">

    <label for="username">Username </label>
    <input class="leftfl" type="text" name="username" >

    <label for="password">Password</label>
    <input class="leftfl" type="password" name="password">

    {{#if message }}
    <div class="message">{{ message }}</div>
    {{/if}}
    <br>

    <div class="createccbut">
    <button type="submit"> Log in</button>
    </div>
 <br>
 <br>

    {{!-- <a href="/login/facebook">Login With Facebook</a><br>
    <a href="/login/google">Sign In with Google</a> --}}
<div class="createacc">   <p>If you like to become a part of our Story please</p>
     <a href="/signup">Create account </a>
     </div> 




</form>

</div>
</div>
</div>







