<div class="container">
<h1>Hello, my name is Yoko...
<img class ="itemImagesmall" src="https://res.cloudinary.com/miss-yoko-beading/image/upload/v1532088341/Screen_Shot_2018-07-20_at_8.05.00_AM.png">
</h1>

</div>
