<div class="indexpage">
<div class="pad">
<div class="indexcont container">
<h1>Hello, my name is Yoko...
    <img class ="itemImagesmall" src="https://res.cloudinary.com/miss-yoko-beading/image/upload/v1532088341/Screen_Shot_2018-07-20_at_8.05.00_AM.png">
</h1>
{{!-- <div>
<p>Unce upon a time a little girl found a stone. She looked at it carefully. It was a special stone.</p>
<p>Years went by... Yoko kept the stone. She believed it brought her wisdom of Earth.</p>
<p>Years went by... She found more and more of inredible gemstones. They all meant something to her.</p>
<p>Little girl wanted to share the energy of Earth given to her by the Stones. With her artist's eye she started creating little things.</p>
<p>Now its time for Miss Yoko to share the mysterious Power of her Stones with you.</p>
<p>Every <a class="indexA" href="/gallery">piece</a> you find here is unique and made with love and positive energy of Yoko's soul. </p>
</div> --}}
{{!-- <div class="myslideshow">
    <div>
        <img class="mySlides" src="https://res.cloudinary.com/miss-yoko-beading/image/upload/v1532032828/UNADJUSTEDNONRAW_thumb_3074.jpg" style="width:100%">
        <img class="mySlides" src="https://res.cloudinary.com/miss-yoko-beading/image/upload/v1532032828/UNADJUSTEDNONRAW_thumb_3085.jpg" style="width:100%">
        <img class="mySlides" src="https://res.cloudinary.com/miss-yoko-beading/image/upload/v1532032828/UNADJUSTEDNONRAW_thumb_307b.jpg" style="width:100%">
    </div>
</div> --}}
</div>
</div>
</div>
