<div class="indexpage">
<div class="pad">
<div class="indexcont container">
<h1>Create<br> your Story</h1>

<div class="createaccnewbox">

<form method="post" enctype="multipart/form-data">

    <label for="title">Give your story a Name</label>
    <input class="leftfl" id="title" type="text" name="title">

    <br>
    <label for="shortdescription">Short description</label>
    <textarea class="leftfl" id="shortdescription" name="shortdescription" cols="30" rows="2"></textarea>
    <br>
    <label for="description">Your Story:</label>
    <textarea class="leftfl" id="description" name="description" cols="30" rows="10"></textarea>
    <br>
    <input  class="newfile" type="file" name="image" id="image">
    <br>

    <button type="submit" class="spec">Submit</button>
    
</form>

</div>
</div>
</div>
</div>